.dark{
    background-color: $dark;
    color: $light;
    .header{
        background-color: $dark;
        color: $light;
    }
    .bartabmobil, .info{
        background-color: $dark;
        color: $light;
    }
    #SecretMode{
        color: #3b3b3b;
    }
}
#switchMode{
    text-align: right;
    margin-bottom: 0;
}
