.dark{
    background-color: black;
    color: white;
    .header{
        background-color: black;
        color: white;
    }
    .bartabmobil, .info{
        background-color: black;
        color: white;
    }
    .SecretMode{
        color: black;
    }
}
.switchMode{
    text-align: right;
    margin-bottom: 0;
}
