.dark{
    background-color: black;
    color: white;
    .header{
        background-color: black;
        color: white;
    }
    .bartabmobil, .info{
        background-color: black;
        color: white;
    }
}
.switchMode{
    text-align: right;
    margin: 4%;
    margin-bottom: 0;
    font-size: 1.25rem;
}
