.all_cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    h3{
        font-family: $fontTitle;
        font-size: 1.5em;
        margin-bottom: 5%;
        text-align: center;
    } 
    .one_card{
        margin: 3vw;
        height: 50%;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: auto;
        margin-bottom: 10%;
        @include desktop{
            flex-direction: row;
        }
        .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include desktop{
                width: 50%;
                margin-right: 10%;
                #azstore{
                    width: 25vw;
                }
            }
            img{
                border-radius: 8px ;
                height: max-content;
                width: 100%;
            }
        }

        .description{
            ul {
                text-align: left;
                :nth-child(1){
                    list-style: none;
                }
                li {
                    text-align: center;
                    margin: 2vw;
                    list-style: inside;
                    font-size: 1.25em;
                }
                .tech{
                    word-spacing: 2vw;
                }
            }
        }     
    }
}
.css-r6z5ec{
    min-width: auto;
    background-color: yellow;
}
.css-1kfu8nn{
    display: none;
}