.title{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    @include desktop{
        align-items: flex-start;
    }
    img{
        width: 10vw;
        @include desktop{
            width: 4vw;
        }
    }
    h3{
        margin-left: 2%;
        margin-bottom: 2%;
    }
}
.ulProjects{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    li{
        list-style: inside;
        font-size: 1.25em;
        text-align: left;
    }
}