//colors
$light:white;
$color5:blue; //#ed6a5a; //#6fffe9;
$dark: black;


//Reset
*{
    margin: 0;
    padding: 0;
}

html,body{
    background-color: $light;
    color: $dark;
    min-height: 100vh;
    #root{
        min-height: 100vh;
    }
    a{
        font-weight: 700;
        color: $color5;
    }
    li{
        list-style: none;
    }
    .light{
        background-color: $light;
        color: $dark;
        #SecretMode{
            color: $light;
        }
    }
}

//Fonts
$fontTitle:'Tilt Neon', cursive;