* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
  color: black;
  min-height: 100vh;
}
html #root, body #root {
  min-height: 100vh;
}
html a, body a {
  font-weight: 700;
  color: blue;
}
html li, body li {
  list-style: none;
}
html .light, body .light {
  background-color: white;
  color: black;
}

/*Pages*/
html .bartab, body .bartab {
  display: none;
}
@media screen and (min-width: 1024px) {
  html .bartab, body .bartab {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  html .bartabmobil, body .bartabmobil {
    display: none;
  }
}

.project h2 {
  font-family: "Tilt Neon", cursive;
  font-size: 2em;
  margin-bottom: 5%;
  text-decoration: underline;
}

#Technologie h2 {
  font-size: 1.75em;
  margin-bottom: 5%;
  font-family: "Tilt Neon", cursive;
}
#Technologie hr {
  margin-top: 2%;
  margin-bottom: 2%;
}
@media screen and (min-width: 1024px) {
  #Technologie .frameBase {
    display: flex;
    justify-content: space-evenly;
  }
  #Technologie .frameBase hr {
    display: none;
  }
}

/*Composant*/
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Tilt Neon", cursive;
  background-color: white;
  color: black;
  margin-bottom: 5%;
}
.header h1 {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  .header h1 {
    font-size: 2.5em;
  }
}
.header p {
  font-size: 1.25em;
  color: grey;
  margin: 1%;
}
@media screen and (min-width: 1024px) {
  .header p {
    font-size: 1.5em;
  }
}
.header img {
  margin: auto;
  width: 40vw;
  border-radius: 50%;
  border: 3px solid #5bc0be;
}
@media screen and (min-width: 1024px) {
  .header img {
    width: 15vw;
  }
}

.bartabmobil {
  background-color: white;
}
.bartabmobil .chakra-tabs__tablist {
  background-color: blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}
.bartabmobil img {
  width: 8vw;
}

.bartab button {
  font-family: "Tilt Neon", cursive;
  font-size: 1.5em;
}
.bartab .css-1wf5nuj {
  background-color: #5bc0be;
}
.bartab .css-1wf5nuj button {
  font-size: 1.25em;
}

#Technologie h2 {
  font-size: 1.75em;
  margin-bottom: 5%;
  font-family: "Tilt Neon", cursive;
}
#Technologie hr {
  margin-top: 2%;
  margin-bottom: 2%;
}
@media screen and (min-width: 1024px) {
  #Technologie .frameBase {
    display: flex;
    justify-content: space-evenly;
  }
  #Technologie .frameBase hr {
    display: none;
  }
}

.all_cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.all_cards h3 {
  font-family: "Tilt Neon", cursive;
  font-size: 1.5em;
  margin-bottom: 5%;
  text-align: center;
}
.all_cards .one_card {
  margin: 3vw;
  height: 50%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10%;
}
@media screen and (min-width: 1024px) {
  .all_cards .one_card {
    flex-direction: row;
  }
}
.all_cards .one_card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .all_cards .one_card .image {
    width: 50%;
    margin-right: 10%;
  }
  .all_cards .one_card .image #azstore {
    width: 25vw;
  }
}
.all_cards .one_card .image img {
  border-radius: 8px;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}
.all_cards .one_card .description ul {
  text-align: left;
}
.all_cards .one_card .description ul :nth-child(1) {
  list-style: none;
}
.all_cards .one_card .description ul li {
  text-align: center;
  margin: 2vw;
  list-style: inside;
  font-size: 1.25em;
}
.all_cards .one_card .description ul .tech {
  word-spacing: 2vw;
}

.css-r6z5ec {
  min-width: auto;
  background-color: yellow;
}

.css-1kfu8nn {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
@media screen and (min-width: 1024px) {
  .title {
    align-items: flex-start;
  }
}
.title img {
  width: 10vw;
}
@media screen and (min-width: 1024px) {
  .title img {
    width: 4vw;
  }
}
.title h3 {
  margin-left: 2%;
  margin-bottom: 2%;
}

.ulProjects {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.ulProjects li {
  list-style: inside;
  font-size: 1.25em;
  text-align: left;
}

.techbase {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.techbase .lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}
@media screen and (min-width: 1024px) {
  .techbase .lang img {
    width: 30%;
    aspect-ratio: 3/2;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .techbase .lang p {
    font-size: 1.25em;
  }
}

.css-r6z5ec {
  min-width: none;
}

.cvPdf {
  text-align: center;
  margin: 5%;
}
.cvPdf a {
  font-size: 1.25rem;
}

.info {
  background-color: white;
  color: black;
  text-align: center;
  margin: 5%;
}
.info p {
  margin-top: 1%;
}
@media screen and (min-width: 1024px) {
  .info p {
    font-size: 1.5em;
  }
}

.dark {
  background-color: black;
  color: white;
}
.dark .header {
  background-color: black;
  color: white;
}
.dark .bartabmobil, .dark .info {
  background-color: black;
  color: white;
}

.switchMode {
  text-align: right;
  margin: 4%;
  margin-bottom: 0;
  font-size: 1.25rem;
}/*# sourceMappingURL=Index.css.map */