* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #3a506b;
  color: white;
}
html a, body a {
  font-weight: 700;
  color: #6fffe9;
}
html li, body li {
  list-style: none;
}
html #root, body #root {
  background-color: #3a506b;
  color: white;
}

/*Pages*/
html .bartab, body .bartab {
  display: none;
}
@media screen and (max-with: 1024px) {
  html, body {
    background-color: yellow;
  }
}

.project h2 {
  font-family: "Tilt Neon", cursive;
  font-size: 2em;
  margin-bottom: 5%;
}

#Technologie h2 {
  font-size: 1.75em;
  margin-bottom: 5%;
  font-family: "Tilt Neon", cursive;
}
#Technologie h4 {
  font-size: 1.5em;
  margin-bottom: 5%;
  font-family: "Tilt Neon", cursive;
}
#Technologie hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

/*Composant*/
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Tilt Neon", cursive;
  background-color: #3a506b;
  color: white;
}
.header h1 {
  font-size: 3em;
}
.header p {
  font-size: 1.25em;
  color: grey;
  margin: 1%;
}
.header img {
  margin: auto;
  width: 45vw;
  border-radius: 50%;
  border: 3px solid #5bc0be;
}

.bartabmobil {
  background-color: #3a506b;
}
.bartabmobil .chakra-tabs__tablist {
  background-color: #5bc0be;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}
.bartabmobil img {
  width: 8vw;
}

#Technologie h2 {
  font-size: 1.75em;
  margin-bottom: 5%;
  font-family: "Tilt Neon", cursive;
}
#Technologie h4 {
  font-size: 1.5em;
  margin-bottom: 5%;
  font-family: "Tilt Neon", cursive;
}
#Technologie hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

.all_cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.all_cards .one_card {
  margin: 3vw;
  height: 50%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10%;
}
.all_cards .one_card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.all_cards .one_card .image img {
  border-radius: 8px;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}
.all_cards .one_card h3 {
  font-family: "Tilt Neon", cursive;
  font-size: 1.5em;
  margin-bottom: 5%;
}
.all_cards .one_card .description ul {
  text-align: left;
}
.all_cards .one_card .description ul :nth-child(1) {
  list-style: none;
}
.all_cards .one_card .description ul li {
  text-align: center;
  margin: 2vw;
  list-style: inside;
  font-size: 1.25em;
}

.css-r6z5ec {
  min-width: auto;
  background-color: yellow;
}

.css-1kfu8nn {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.title img {
  width: 10vw;
}
.title h3 {
  margin-left: 2%;
  margin-bottom: 2%;
}

.ulProjects {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.ulProjects li {
  list-style: inside;
  font-size: 1.25em;
}

.techbase {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.techbase .lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.css-r6z5ec {
  min-width: none;
}

.info {
  background-color: #3a506b;
  color: white;
  text-align: center;
  margin: 5%;
}
.info p {
  margin-top: 1%;
}/*# sourceMappingURL=Index.css.map */