@import "../Desktop";
html,body{
    .bartab{
        display: none;

        @include desktop {
            display: block;
        }
    }
    .bartabmobil{
        @include desktop{
            display: none;
        }
    }
}