.bartab{
    button{
        font-family: $fontTitle;
        font-size: 1.5em; 
    }
    .css-1wf5nuj{
        background-color: $color4;
        button{
            font-size: 1.25em;
        }
    }
}