.bartabmobil{
    background-color: $light;
    .chakra-tabs__tablist {
        background-color: $dark;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
    }
    img{
        width: 8vw;
    }
}