@import "../../Desktop";
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $fontTitle;
    background-color: $color3;
    color: white;
    h1{
        font-size: 3em;
        @include desktop{
            font-size: 4em;
        }
    }

    p{
        font-size: 1.25em ;
        color: grey;
        margin: 1%;
        @include desktop{
            font-size: 1.5em;
        }
    }

    img{
        margin: auto;
        width: 45vw;
        border-radius: 50%;
        border: 3px solid $color4;
        @include desktop{
            width: 20vw;
        }
    }
}