@import '../../Desktop';

.allCertifs{
    margin: auto;
    text-align: center;
    width: 80%;
    .oneCertif{
        width: 100%;
        @include desktop{
            margin-top: 10%;
        }
        h2{
            font-size: 1.20rem;
            margin: 2rem;
        }
        #digitalGarage{
            margin: auto;
            width: 55vw;
        }
        #Coursera1{
            margin: auto;
            width: 55vw;
        }
        @include desktop{
            h2{
                font-size: 1.75rem;
            }
            #digitalGarage{
                width: 40vw;
            }
            #Coursera1{
                width: 40vw;
            }
        }
    }
}
    