
.info{
    background-color: $color3;
    color: white;
    text-align: center;
    margin: 5%;
    // a{
    //     color: $color5;
    //     font-weight: 700;
    // }
    p{
        margin-top: 1%;
    }
}