
.info{
    background-color: $light;
    color: $dark;
    text-align: center;
    margin: 5%;
    p{
        margin-top: 1%;
    }
    @include desktop{
        p{
            font-size: 1.5em;
        }
    }
}